{{!-- Landing Page Handlebars(for signup and login) --}}

<div>
    <h1>Welcome</h1>
    <p>Where we care about your health.</p>
    <br><br>
    <button type="button" onclick= "window.location.href='signup'" name="signup" id="signup">Sign-Up</button>
</div>